<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qu2u.moments.mapper.MomentsTagsMapper">

    <resultMap id="BaseResultMap" type="com.qu2u.moments.entity.MomentsTags">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="momentsId" column="moments_id" jdbcType="INTEGER"/>
        <result property="tagsId" column="tags_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,moments_id,tags_id
    </sql>

</mapper>
